@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root{
    --white: #F7F7F7;
    --white2: #E5D9F2;
    --black: #000000;
    --purple: #640D5F;
    --purple2: #850F8D;
    --purple3: #624E88;
    --rose: #ED3EF7;
    --shandow: #464646;
    --font: "Fredoka", sans-serif;
    --font2: "Montserrat" serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: var(--black);
    color: var(--white);

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.392);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--white);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--purple2);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--white);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--purple2);
    border-bottom: 3px solid var(--purple2);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--purple);
    display: none;
}


section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.span{
    color: var(--purple);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--shandow);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--purple),
                0 0 50px var(--purple),
                0 0 100px var(--purple)

}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    font-family: var(--font2);
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--purple2);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--purple);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover{
    color: var(--white);
    transform: scale(1.3)translate(-5px);
    box-shadow: 0 0 25px var(--purple);
    background-color: var(--purple);
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--purple);
    box-shadow: 0 0 25px var(--purple3);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--white2);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--purple);
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.btn-group a:nth-of-type(2){
    background-color: var(--white2);
    color: var(--purple);
    border: 2px solid var(--purple);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
    box-shadow:  0 0 25px var(--purple3);
    background-color: var(--purple3);
    color: black;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "ADS";
    color: var(--purple2);
    animation: words 20s infinite;
}

.text-animation span::after{
    background-color: rgba(0, 0, 0, 0.216);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--purple2);
    right: -8px;
    animation: cursor 0.6 infinite, typing 20s steps
    (14) infinite;
}




.experiencia{
    padding: 8px;
    margin: 25px;
    background-color: #4646466d;
    border-radius: 4px;

}


.g-col-6{
    display: flex;
    align-items: center;
    background-color: #850f8d70 ;
    padding: 8px 8px 12px;
    justify-content: center;
    gap: 15px;
    margin: 8px 12px;
    border: 2px solid var(--purple3);
    border-radius: 5px ;
}

 h2{
    display: flex;
    font-size: 35px;
    flex-direction: column;
    align-items: center;
    font-family: var(--font2);
}

h4{
    font-family: var(--font2);
    font-size: 20px;

}

p{
    font-family: var(--font2);
    font-size: 16px;
}

image{
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    max-width: 100%; /* Faz a imagem responsiva */
    height: 110vh; /* Mantém a proporção da imagem */
}

.image02{
    width: 695px; /* Altere para o tamanho desejado */
    height: 426px; /* Mantém a proporção da imagem */
}